.categories-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 24px;
    column-gap: 16px;
    row-gap: 16px;
    font-weight: 500;
}

.categories {
    margin-top: 64px;
}

.categories-box-item {
    background-color: var(--color-light-blue-bg);
    border-radius: var(--border-radius);
    height: 112px;
    width: 130px;
    padding: 22px;
}