.events-box-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 36px;
}

.events-info {
    display: flex;
    flex-direction: column;
	padding-top: 12px;
	align-items: start;
}

.grid-img {
	margin-top: 24px;
	width: 100%;
	height: 153px;
    border-radius: var(--border-radius);
}

.grid-img:hover {
	opacity: 70%;
	cursor: pointer;
}

.events-info li {
	padding-top: 8px;
	list-style-type: none;
	margin-left: -35px;
	display: flex;
	align-items: center;
	row-gap: 6px;
}

.events-info li:nth-child(2) {
	color: var(--color-darkgrey);
}

.events-box-item {
    display: flex;
    flex-direction: column;
	margin-bottom: 50px;
    position: relative;
}

.info-items {
    display: flex;
    flex-direction: column;
}

.online-camera-small {
    display: none;
    width: 104px;
     margin-left: 7px;
}

.attendes {
    font-size: 14px;
    color: var(--color-darkgrey);
    margin-top: 70px;
    display: none;
    margin-left: 10px;
}

.hobbies {
    font-size: 14px;
    color: var(--color-darkgrey);
    display: block;
    margin-top: 5%;
    margin-left: 10px;
}

.info-items li:nth-child(1) {
    padding-left: 5px;
}

.online {
    width: 105px;
    height: 20px;
    position: absolute;
    top: 29px;
    left: 10px;
    z-index: 2;
}

