.events-box-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 36px;
}

.events-info {
    display: flex;
    flex-direction: column;
	padding-top: 12px;
	align-items: start;
}

.grid-img {
	margin-top: 24px;
	width: 100%;
	height: 153px;
}

.grid-img:hover {
	opacity: 70%;
	cursor: pointer;
}

.events-info li {
	padding-top: 8px;
	list-style-type: none;
	margin-left: -35px;
	display: flex;
	align-items: center;
	row-gap: 6px;
}

.events-info li:nth-child(2) {
	color: var(--color-darkgrey);
}

.events-box-item {
    display: flex;
    flex-direction: column;
	margin-bottom: 50px;
}

.info-items {
    display: flex;
    flex-direction: column;
}

.online-camera-small {
    display: none;
    width: 94px;
     margin-left: 5px;

}
 
.events-date {
    display: flex;
}
