.friendships {
    margin-top: 64px;
}

.friendship-box {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 24px;
}

.friendship-title h3 {
    margin-bottom: 16px;
}

.friendship-title p {
    width: 75%;
    margin-bottom: 28px;
}

.friendship-item-info h4 {
    line-height: 23px;
    padding-top: 24px;
    padding-bottom: 12px;
}
.friendship-item-info h4:hover {
    cursor: pointer;
    text-decoration: underline;
}

.friendship-item-info p {
    line-height: 23px;
    padding-bottom: 16px;
    color: var(--color-darkgrey);
}

.friendship-item-info a {
    color: var(--color-btn-blue);
}
.friendship-box-item {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

.friendship-box img {
    width: 100%;
    height: 191px;
}

.friendship-box img:hover {
    opacity: 70%;
}






@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

    
	.friendship-box {
		flex-wrap: wrap;
	}

    .hidden-p {
        display: none;
    }
.friendship-title h3 {
    margin-bottom: 24px;
}

}

@media (max-width: 768px) {

    
	.friendship-box-item {
		width: 70%;
		max-width: 450px;
	}

}

@media (max-width: 576px) {

    

	.friendship-box-item {
		font-size: 14px;
		width: 100%;
		max-width: 450px;
	}

    
	


}