.join-meetup-box {
    background-color: var(--color-light-blue-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
}

.join-meetup-leftside {
    padding-left: 56px;
    padding-top: 36px;
    width: 60%;
}

.join-meetup-leftside h3 {
    font-size: 28px;
    font-weight: bolder;
    padding-bottom: 16px;
}

.join-meetup-leftside p {
    padding-right: 74px;
    padding-bottom: 16px;
}

.join-meetup-leftside button {
    background-color: #E32359;
    width: 192px;
    height: 40px;
    margin-bottom: 36px;
}

.join-meetup-leftside button:hover {
    background-color: #e74674;
}

.small-title {
    font-size: 20px;
    padding-top: 16px;
    padding-left: 15px;
    display: none;
}





@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

    
	.join-meetup-rightside img {
		width: 90%;
	}

}

@media (max-width: 576px) {

    

	.join-meetup-box {
		flex-direction: column-reverse;
		text-align: center;
		margin-bottom: 30px;
		padding-left: 0;
		margin-left: 0;
		width: 100%;
	}

	.join-meetup-leftside p {
		padding: 0;
		text-align: left;
	}

	.join-meetup-leftside {
		padding: 20px;
		margin: 0;
		align-items: center;
		width: 100%;
	}

	.join-meetup-leftside button {
		margin-top: 22px;
	}

	.join-meetup-rightside img {
		width: 80%;
		margin-bottom: 10px;
	}

}
