.upcomming-header-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 44px;
	margin-top: 40px;
}

.upcomming-header-leftside {
	display: flex;
}

.btn_see_all {
	color: var(--color-btn-blue);
	border: none;
	font-weight: bold;
	background-color: white;
}

.btn_see_all:hover {
	text-decoration: underline;
	cursor: pointer;
}

.btn__upcomming {
	width: 239px;
	background: #97CAD11F;
	border: none;
	color: #00798A;
	margin-left: 8px;
	padding-left: 12px;
	font-size: 20px;
	font-weight: bolder;
	display: flex;
	align-items: center;
}

.btn__upcomming img {
	margin-left: 8px;
}

.btn__upcomming:hover {
	color: #16a5b8;
	cursor: pointer;
}

.upcomming-box-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 36px;
}

.upcomming-info {
	padding-top: 12px;
	align-items: start;
}

.upcomming-img {
	margin-top: 24px;
	width: 100%;
	height: 153px;
}

.upcomming-img:hover {
	opacity: 70%;
	cursor: pointer;
}

.upcomming-info li {
	padding: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
	row-gap: 6px;
}

li h4:hover {
	text-decoration: underline;
	cursor: pointer;
}

.upcomming-info li:nth-child(2) {
	color: var(--color-darkgrey);
}

.upcomming-box-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	position: relative;
}


@media (max-width: 1400px) {}

@media (max-width: 1200px) {

	.upcomming-box-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 992px) {}

@media (max-width: 768px) {

	.upcomming-box-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 576px) {

	.upcomming-box-item {
		flex-direction: row;
		border-top: 1px solid #D9D9D9;
	}

	.upcomming-box-container {
		grid-template-columns: 1fr;
	}

	.upcomming-header {
		margin-bottom: 17px;
		margin-top: 64px;
	}

	.upcomming-header h3 {
		font-size: 20px;
	}
}